.slide{
  background-color: #f1f1f1;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  rotate: 30deg;
  box-shadow: 5px 5px 15px white;
}