.button {
  padding: 10px 60px;
  border-radius: 20px;
  background-color: var(--accent);
  box-shadow: 5px 5px 15px white;
  border: none;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--secondary);
  }
}